language: cpp

sudo: required
dist: trusty

matrix:
  include:
    - os: osx
      osx_image: xcode7.3
      compiler: clang
    - os: linux
      compiler: clang
      env: COMPILER=clang++-3.8
      addons:
        apt:
          packages:
          - clang-3.8
          - libc++-dev
          - libssl-dev
          - libboost-regex1.55-dev
          - libboost-random1.55-dev
          - libboost-thread1.55-dev
          - libboost-filesystem1.55-dev
          - libboost-program-options1.55-dev
    - os: linux
      compiler: gcc
      env: COMPILER=g++5
      addons:
        apt:
          packages:
          - g++5
          - libssl-dev
          - libboost-regex1.55-dev
          - libboost-random1.55-dev
          - libboost-thread1.55-dev
          - libboost-filesystem1.55-dev
          - libboost-program-options1.55-dev

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      CXX=COMPILER;
      cd ..;
      git clone --branch=development https://github.com/Microsoft/cpprestsdk.git;
      cd cpprestsdk/Release;
      cmake -DBUILD_TESTS=OFF -DBUILD_SAMPLES=OFF -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr;
      sudo make install;
      cd ../../twitter_cpp;
    else
      brew update;
      brew install cmake;
      brew install cpprestsdk;
      brew link --force openssl;
    fi

script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then
      cmake -DCMAKE_BUILD_TYPE=Release && sudo make install;
    else
      cmake . -DCMAKE_BUILD_TYPE=Release && make;
    fi
